<div class="menu mb-4">
  <ul class="nav flex-column text-center">
    <li class="nav-item">
      <a class="nav-link bg-success link-body-emphasis" href="index.html"><i class="fa-solid fa-house"></i> Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-success link-body-emphasis" href="nosotros.html"><i class="fa-solid fa-kitchen-set"></i> Acerca del concurso</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-success link-body-emphasis" href="participantes.html"><i class="fa-regular fa-address-card"></i> Participantes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-success link-body-emphasis" href="contacto.html"><i class="fa-regular fa-envelope"></i> Contacto</a>
    </li>
  </ul>
</div>